---
import Check from "../icons/Check.astro";
---

<section id="about-me">
  <div
    class="inline-block text-2xl bg-blue-700 px-3 py-1 skew-x-[-20deg] mb-8"
  >
    <span class="font-bold text-white block"> BEYOND THE CODE </span>
  </div>
  <ul class="flex flex-col gap-4 md:text-lg">
    <li class="flex gap-3">
      <Check class="flex-shrink-0" />
      <p>
        I am 22 years old and I am a <b>self-taught</b>, <b>active</b> and <b
          >creative</b
        > person. I enjoy learning and exploring new skills constantly 😸.
      </p>
    </li>
    <li class="flex gap-3">
      <Check class="flex-shrink-0"/>
      <p>
        Since I was a child, I have been fascinated by the world of technology.
        This passion has driven me to continuously improve and expand my skills
        💻.
      </p>
    </li>
    <li class="flex gap-3">
      <Check class="flex-shrink-0"/>
      <p>
        I am a sports lover, I like almost all of them, however, my favorite
        sport is soccer, I have practiced it since I can remember and I play
        games during the week ⚽.
      </p>
    </li>
    <li class="flex gap-3">
      <Check class="flex-shrink-0"/>
      <p>
        I am a person who enjoys challenges and I am always looking for new
        opportunities to grow and learn. I believe that every day is a new
        opportunity to improve and become a better version of myself 🌱. 
      </p>
    </li>
  </ul>
</section>

<style></style>
