<div class="flex items-center p-4 rounded-lg gap-4 cursor-pointer transition-all ease-in-out duration-300 hover:bg-[rgba(28,28,28,0.3)]">
  <slot />
  <div class="text-sm">
    <h3 class="leading-4">{Astro.props.title}</h3>
    <p class="text-[#95999d] max-md:text-xs">{Astro.props.description}</p>
  </div>
</div>
